@charset "utf-8";
/*CSS Document*/
p {
	color: black;	
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width: 600px;
	background-color: antiquewhite;
	padding: 20px;
}
.paragraf_2 {color: black; background-color: antiquewhite}
.novi_blok {
	background-color: antiquewhite;
	padding:20px;
	margin:20px;
	width:50%;
}
h1 {
	font-family: JoskoBuzina;
	font-size: 100px;
	margin-bottom: 20px
}
h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sens-serif";
	color:cadetblue;
}

span {color: red;}
.pozadina{
	background-image: url("Slike/DSC07786.jpg")
}
.drugapozadina{
	background-color: black;
}
a:link {
	color: black;
	background-color: antiquewhite;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background-color: black;
}
img {
	height: 400px;
	
}